@import url(https://fonts.googleapis.com/css2?family=Pacifico&display=swap);

@import url(https://fonts.googleapis.com/css2?family=Condiment&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Lakki+Reddy&display=swap);

.maine {
  display: flex;
  justify-content: center;
  z-index: -50px;
}

.welcome {
  // font: 7vw/22vh "Finger Paint";
  top: 23vh;
  font-size: 7rem;
  font-family: "Lakki Reddy";
  position: absolute;
  // color: rgb(236, 147, 39);
  color: rgb(171, 157, 37);
  align-items: center;
}

span {
  display: inline-block;
  letter-spacing: 1vw;
  font-weight: bold;
  text-shadow: 5px 5px 5px rgb(166, 55, 7);
  /* text-shadow: 0 0 0 whitesmoke; */
  animation: smoky 5s 3s both;
}

span:nth-child(even) {
  animation-name: smoky-mirror;
}

@keyframes smoky {
  60% {
    text-shadow: 0 0 40px rgb(166, 55, 7);
  }
  to {
    transform: translate3d(15rem, -8rem, 0) rotate(-40deg) skewX(70deg)
      scale(1.5);
    text-shadow: 0 0 20px rgb(166, 55, 7);
    opacity: 0;
  }
}

@keyframes smoky-mirror {
  60% {
    text-shadow: 0 0 40px rgb(166, 55, 7);
  }
  to {
    transform: translate3d(18rem, -8rem, 0) rotate(-40deg) skewX(-70deg)
      scale(2);
    text-shadow: 0 0 20px rgb(166, 55, 7);
    opacity: 0;
  }
}

@for $item from 1 through 21 {
  span:nth-of-type(#{$item}) {
    animation-delay: #{(3 + ($item/10))}s;
  }
}

.bogrediv {
  left: -60vw;
  top: 30vh;
  animation: 28s linear 4s 1 allmove;
  animation-iteration-count: infinite;
  position: absolute;
}

@keyframes bogremove {
  0% {
    transform: translateX(10vw);
  }

  40% {
    transform: translateX(100vw);
  }

  60% {
    transform: translateX(110vw);
  }

  100% {
    transform: translateX(210vw);
  }
}

@keyframes codecoolmove {
  0% {
    transform: translateX(10vw);
  }

  40% {
    transform: translateX(100vw);
  }

  60% {
    transform: translateX(110vw);
  }

  100% {
    transform: translateX(210vw);
  }
}

.codecooldiv {
  left: -60vw;
  top: 30vh;
  animation: 28s linear 20s 1 allmove;
  animation-iteration-count: infinite;
  position: absolute;
}
.zsombidiv {
  left: -60vw;
  top: 30vh;
  animation: 28s linear 24s 1 allmove;
  animation-iteration-count: infinite;
  position: absolute;
}

.goldencommondiv {
  left: -60vw;
  top: 30vh;
  animation: 28s linear 8s 1 allmove;
  animation-iteration-count: infinite;
  position: absolute;
}

@keyframes cutecatmove {
  0% {
    transform: translateX(10vw);
  }

  40% {
    transform: translateX(100vw);
  }

  60% {
    transform: translateX(110vw);
  }

  100% {
    transform: translateX(210vw);
  }
}

.cutecatdiv {
  left: -60vw;
  top: 30vh;
  animation: 28s linear 16s 1 allmove;
  animation-iteration-count: infinite;
  position: absolute;
}

.bogrecard {
  position: relative;
  height: 60vh;
  transition: transform 0.25s ease-out;
}

.bogrecard:hover {
  transform: scale(1.2);
}

.codecoolcard {
  position: relative;
  height: 60vh;
  transition: transform 0.25s ease-out;
}

.codecoolcard:hover {
  transform: scale(1.2);
}

.cutecatcard {
  position: relative;
  height: 60vh;
  transition: transform 0.25s ease-out;
}

.cutecatcard:hover {
  transform: scale(1.2);
}

.goldencommoncard {
  position: relative;
  height: 60vh;
  transition: transform 0.25s ease-out;
}

.goldencommoncard:hover {
  transform: scale(1.2);
}

.zsombicard {
  position: relative;
  height: 60vh;
  transition: transform 0.25s ease-out;
}

.zsombicard:hover {
  transform: scale(1.2);
}

.gabidiv {
  position: absolute;
  /*   top: 25vw;
  left: 20vw; */
  left: -60vw;
  top: 30vh;
  animation: 28s linear 12s 1 allmove;
  animation-iteration-count: infinite;
  /* transform-origin: 100% center;
  animation: rotate 10s linear infinite; */
}

.gabicard {
  position: relative;
  height: 60vh;
  transition: transform 0.25s ease-out;

  /*   animation: rotate 10s reverse infinite; */
}

.gabicard:hover {
  transform: scale(1.2);
}

@keyframes gabimove {
  0% {
    transform: translateX(10vw);
  }

  40% {
    transform: translateX(100vw);
  }

  60% {
    transform: translateX(110vw);
  }

  100% {
    transform: translateX(210vw);
  }
}

.atidiv {
  position: absolute;
  /* top: 25vw;
  left: 50vw;
  height: 50px;
  transform-origin: 100% center;
  animation: rotate 10s reverse infinite; */
  left: -60vw;
  top: 30vh;
  animation: 28s linear 0s 1 allmove;
  animation-iteration-count: infinite;
}

.aticard {
  position: relative;
  height: 60vh;
  transition: transform 0.25s ease-out;

  /*  animation: rotate 10s linear infinite; */
}
.aticard:hover {
  transform: scale(1.2);
}

@keyframes atimove {
  0% {
    transform: translateX(10vw);
  }

  40% {
    transform: translateX(100vw);
  }

  60% {
    transform: translateX(110vw);
  }

  100% {
    transform: translateX(210vw);
  }
}

@keyframes allmove {
  0% {
    transform: translateX(10vw);
  }
  100% {
    transform: translateX(210vw);
  }
}

/* @keyframes rotate {
  100% {
    transform: rotate(-360deg);
  }
} */
@keyframes rotate {
  from {
    transform: rotate(-360deg);
  }

  to {
    transform: rotate(0deg);
  }
}
