.bogrediv {
  left: -60vw;
  top: 30vh;
  animation: 28s linear 4s 1 allmove;
  animation-iteration-count: infinite;
  position: absolute;
}

@keyframes bogremove {
  0% {
    transform: translateX(10vw);
  }

  40% {
    transform: translateX(100vw);
  }

  60% {
    transform: translateX(110vw);
  }

  100% {
    transform: translateX(210vw);
  }
}

@keyframes codecoolmove {
  0% {
    transform: translateX(10vw);
  }

  40% {
    transform: translateX(100vw);
  }

  60% {
    transform: translateX(110vw);
  }

  100% {
    transform: translateX(210vw);
  }
}

.codecooldiv {
  left: -60vw;
  top: 30vh;
  animation: 28s linear 20s 1 allmove;
  animation-iteration-count: infinite;
  position: absolute;
}
.zsombidiv {
  left: -60vw;
  top: 30vh;
  animation: 28s linear 24s 1 allmove;
  animation-iteration-count: infinite;
  position: absolute;
}

.goldencommondiv {
  left: -60vw;
  top: 30vh;
  animation: 28s linear 8s 1 allmove;
  animation-iteration-count: infinite;
  position: absolute;
}

@keyframes cutecatmove {
  0% {
    transform: translateX(10vw);
  }

  40% {
    transform: translateX(100vw);
  }

  60% {
    transform: translateX(110vw);
  }

  100% {
    transform: translateX(210vw);
  }
}

.cutecatdiv {
  left: -60vw;
  top: 30vh;
  animation: 28s linear 16s 1 allmove;
  animation-iteration-count: infinite;
  position: absolute;
}

.bogrecard {
  position: relative;
  height: 60vh;
  transition: transform 0.25s ease-out;
}

.bogrecard:hover {
  transform: scale(1.2);
}

.codecoolcard {
  position: relative;
  height: 60vh;
  transition: transform 0.25s ease-out;
}

.codecoolcard:hover {
  transform: scale(1.2);
}

.cutecatcard {
  position: relative;
  height: 60vh;
  transition: transform 0.25s ease-out;
}

.cutecatcard:hover {
  transform: scale(1.2);
}

.goldencommoncard {
  position: relative;
  height: 60vh;
  transition: transform 0.25s ease-out;
}

.goldencommoncard:hover {
  transform: scale(1.2);
}

.zsombicard {
  position: relative;
  height: 60vh;
  transition: transform 0.25s ease-out;
}

.zsombicard:hover {
  transform: scale(1.2);
}

.gabidiv {
  position: absolute;
  /*   top: 25vw;
  left: 20vw; */
  left: -60vw;
  top: 30vh;
  animation: 28s linear 12s 1 allmove;
  animation-iteration-count: infinite;
  /* transform-origin: 100% center;
  animation: rotate 10s linear infinite; */
}

.gabicard {
  position: relative;
  height: 60vh;
  transition: transform 0.25s ease-out;

  /*   animation: rotate 10s reverse infinite; */
}

.gabicard:hover {
  transform: scale(1.2);
}

@keyframes gabimove {
  0% {
    transform: translateX(10vw);
  }

  40% {
    transform: translateX(100vw);
  }

  60% {
    transform: translateX(110vw);
  }

  100% {
    transform: translateX(210vw);
  }
}

.atidiv {
  position: absolute;
  /* top: 25vw;
  left: 50vw;
  height: 50px;
  transform-origin: 100% center;
  animation: rotate 10s reverse infinite; */
  left: -60vw;
  top: 30vh;
  animation: 28s linear 0s 1 allmove;
  animation-iteration-count: infinite;
}

.aticard {
  position: relative;
  height: 60vh;
  transition: transform 0.25s ease-out;

  /*  animation: rotate 10s linear infinite; */
}
.aticard:hover {
  transform: scale(1.2);
}

@keyframes atimove {
  0% {
    transform: translateX(10vw);
  }

  40% {
    transform: translateX(100vw);
  }

  60% {
    transform: translateX(110vw);
  }

  100% {
    transform: translateX(210vw);
  }
}

@keyframes allmove {
  0% {
    transform: translateX(10vw);
  }
  100% {
    transform: translateX(210vw);
  }
}

/* @keyframes rotate {
  100% {
    transform: rotate(-360deg);
  }
} */
@keyframes rotate {
  from {
    transform: rotate(-360deg);
  }

  to {
    transform: rotate(0deg);
  }
}
