.card {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3vh;
    padding: 1vh;
    background-color: rgb(221, 195, 112);
    border-radius: 1rem;
}
.card img {
    width: 200px;
    height: auto;
}